* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  background-color: tan;
  color: #343a40;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
}